body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

img {
    margin: 10px;
    border-radius: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
