* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #333;
}

header {
    background: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card, .product {
    width: 250px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    background: #fff;
}

/* STANDARD IMAGE SIZE FOR SCHOOL PROJECT */
.card img,
.product img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

button {
    margin-top: 8px;
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}